// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500');
// @import url('https://fonts.googleapis.com/css?family=Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Karla');

/*** Variables ***/
/* colors */
$cream: #FCFFE4;
$morning-sky: #1A7DD7;
$white: #fff;
$honey: #b6d2f3;

/* fonts */
$logo-font: 'Karla', sans-serif;
$heading-font: 'Karla', sans-serif;
$body-font: 'Karla', sans-serif;

/* Center the content and keep it under 750px*/
@media (min-width: 1200px) {
  .content-container{
      max-width: 750px;
      margin: 0 auto;
  }
}

/* NavBar */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $morning-sky;  /*Sets the text hover color on navbar*/
  background-color: $honey;
}


.navbar-default .navbar-toggle.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: $honey;
  color: $white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $morning-sky; /*BACKGROUND color for active*/
 /*background-color: white;*/
 /*box-shadow: 10px 10px bd;*/
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $white;
}

.navbar-default {
  background-color: $morning-sky;
  border-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: $white; /*Change active text color here*/
}

.navbar-default .navbar-brand {
  &:hover {
    background-color: $honey;
    color: $morning-sky;
  }
  color: $white;
}


.nav-pills>li>a:hover{
    background-color: $honey;
    color: $morning-sky;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: $morning-sky;
}

body {
  padding-top: 70px;
  font-family: $body-font;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $morning-sky;
}

h1 {
  font-weight: 100;
  font-family: $logo-font;
}

/* Header */
.page-header {
  border-bottom: $morning-sky;
}

.language-paragraph {
  font-size: 120%;
}

/* Buttons */

.btn-sq-lg {
  width: 200px !important;
  height: 150px !important;
  font-size: 120%;
}

.btn-default {
  background-color: $morning-sky;
}

.btn {

}
.btn-eviction, .btn-renters, .btn-shelter, .btn-issue, .btn-legal, .btn-location {
  color: #000;
  border-radius: 10px;
  background-color: rgba(26,125,215, .1);
  box-shadow: 0px 15px 0px 0px rgba(26,125,215, .8);
  border: 1px solid rgb(26,125,215);
  margin: 1em;
  transform: margin 1s;
  &:active {
    color: #000;
    margin-bottom: -10px;
  }
  &:hover {
    color: #000;
  }
}

/*
.btn-eviction {
  background-color: rgba(3,39,90, .2);
  box-shadow: 0px 15px 0px 0px rgba(3,39,90, .9);
  border: 1px solid rgba(3,39,90, .9);
}

.btn-renters {
  background-color: rgba(26,125,215, .4);
  box-shadow: 0px 15px 0px 0px rgb(26,125,215);
  border: 1px solid rgb(26,125,215);
}

.btn-shelter {
  background-color: rgba(242,184,9, .5);
  box-shadow: 0px 15px 0px 0px rgb(242,184,9);
  border: 1px solid rgb(242,184,9);
}



.btn-legal {
  background-color: rgba(243,70,5, .5);
  box-shadow: 0px 15px 0px 0px rgb(243,70,5);
  border: 1px solid rgb(243,70,5);
}

.btn-location {
  background-color: rgba(7,189,0, .5);
  box-shadow: 0px 15px 0px 0px rgb(7,189,0);
  border: 1px solid rgb(7,189,0);

}
*/

.icon-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: -35%;
    width: 2em;
}
.icon-stack .icon-stack-base {
    font-size: 2em;
}
.icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
    display: block;
    font-size: 1em;
    height: 100%;
    line-height: inherit;
    position: absolute;
    text-align: center;
    width: 100%;
    left: -10px;
    top: 3px;
}
.glyphicon-exclamation-sign
{
    color: #E8F2FC;
    margin-top: -2px;
}
.stack-label {
  margin-top: 16px;
}
.btn-issue {
  background-color: rgba(19,158,178, .2);
  box-shadow: 0px 15px 0px 0px rgba(19,158,178, .8);
  border: 1px solid rgb(19,158,178);
}

.glyphicon-file:before, .glyphicon-question-sign:before, .glyphicon-signal:before, .glyphicon-home:before, .glyphicon-map-marker:before, .glyphicon-pencil:before, .glyphicon-hand-left:before {
 font-size: 3em;
}

/* Panel */
.panel-info>.panel-heading {
  color: white;
  background-color: $morning-sky;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
  background-color: $morning-sky;
  border-top-color: $morning-sky;
}

/* Links */

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
}




a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  background-color: $honey;
}

a.list-group-item-danger, button.list-group-item-danger {
  background-color: $morning-sky;
}

a.list-group-item .list-group-item-heading {
  color: white;
}


